// Variables
$topBannerColor: #0A2239;
$listHalfColor: #E5E7E6;
$taskHalfColor: #767B91;

// CSS

#pageContainer {
    padding: 0;
}

#topBanner {
    background-color: $topBannerColor;
    color: $listHalfColor;
}

#body {
    height: 100vh;
    margin: 0;
    padding: 0;
    width: 100vw;
}

#listHalf {
    background-color: $listHalfColor;
    border-right: 1px solid black;

    #addNewList {
        display: flex;

        #newListName {
            font-size: 20px;
            background: transparent;
            border: 0;
            border-bottom: 1px solid black;
            outline: none;
            transition: border-bottom 150ms ease-in;
            order: 2;
        }

        #newListName:focus {
            border-bottom-width: 2px;
        }

        #newListName:focus::placeholder {
            opacity: 0.2;
        }
    }

    #deleteListBtn {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 10px;

        .deleteListAll {
            cursor: pointer;
            background: 0;
            border: 0;
            padding: 0;
            font-size: 12px;
            text-decoration: underline;
        }

        .deleteListAll:hover {
            opacity: 0.6;
        }
    }

    #listOfLists {
        p {
            margin: 0;
        }

        .actualListName {
            display: flex;
            justify-content: space-around;
            align-items: center;

            .deleteWrapperList {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 30px;
                width: 30px;
            }

            .trashImgList {
                object-fit: fill;
                height: 100%;
                width: 100%;
            }
        }
    }
}

.listButton {
    margin-right: 10px;
    background: 0;
    border: 0;
    padding: 0;
    padding-bottom: 20px;
    font-size: 1.5rem;
    font-weight: 800;
}

.listButton:hover {
    opacity: 0.3;
}

.listButton:focus {
    outline: none;
}

#taskHalf {
    background-color: lighten($taskHalfColor, 30%);

    #deleteCompletedBtn {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 10px;

        .deleteCompletedTasks {
            cursor: pointer;
            background: 0;
            border: 0;
            padding: 0;
            font-size: 12px;
            text-decoration: underline;
        }

        .deleteCompletedTasks:hover {
            opacity: 0.6;
        }
    }

    #addNewTask {
        display: flex;
        align-items: center;

        #taskInput {
            font-size: 20px;
            background: transparent;
            border: 0;
            border-bottom: 1px solid black;
            outline: none;
            transition: border-bottom 150ms ease-in;
            order: 2;
            margin-bottom: 16px;
        }
    }

}

.h2 {
    width: 3em;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}

.active {
    color: white;
    background-color: $topBannerColor;
    border-radius: 3px;
}

.actualListName {
    cursor: pointer;
    font-size: 30px;
    text-align: center;
}

.actualListName:hover {
    opacity: 0.7;
}

[type="checkbox"] {
    opacity: 0;
    position: absolute;
}

.taskCheck {
    margin-bottom: 0;
}

.task {
    display: flex;
    align-items: center;
}

.task label {
    position: relative;
}

.customCheck {
    --size: 0.75em;
    display: inline-block;
    width: var(--size);
    height: var(--size);
    cursor: pointer;
    border: 2px solid black;
    border-radius: 50%;
}

.deleteWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 40px;
    height: 20px;
    width: 20px;
}

.trashImg {
    object-fit: fill;
    height: 100%;
    width: 100%;
}