// Variables
$topBannerColor: #0A2239;
$listHalfColor: #E5E7E6;
$taskHalfColor: #767B91;

// CSS

#pageContainer {
    padding: 0;
}

#topBanner {
    background-color: $topBannerColor;
    color: $listHalfColor;
}

#body {
    height: 100vh;
    margin: 0;
    padding: 0;
}

#listHalf {
    background-color: $listHalfColor;
    border-right: 1px solid black;
}

#taskHalf {
    background-color: lighten($taskHalfColor, 30%);
}

.h2 {
    width: 3em;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}

.active {
    color: white;
    background-color: $topBannerColor;
    border-radius: 3px;
}

#borderSeparate {
    height: 100vh;
    border-right: 2px solid black;
    background-color: lighten($listHalfColor, 15%);
}

#newListName {
    font-size: 20px;
    background: transparent;
    border: 0;
    border-bottom: 1px solid black;
    outline: none;
    transition: border-bottom 150ms ease-in;
    order: 2;
}

#newListName:focus {
    border-bottom-width: 2px;
}

#newListName:focus::placeholder {
    opacity: 0.2;
}

.listButton {
    margin-right: 10px;
    background: 0;
    border: 0;
    padding: 0;
    padding-bottom: 20px;
    font-size: 1.5rem;
    font-weight: 800;
}

.listButton:hover {
    opacity: 0.3;
}

.listButton:focus {
    outline: none;
}

.actualListName {
    font-size: 30px;
    text-align: center;
}

#addNewList {
    display: flex;
}